@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

:root {
  --primary-color: #ffee93;
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  background-color: #f3eaf4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  margin: auto;
}

button {
  margin: 3rem;
  background: var(--primary-color);
  padding: 1rem 2rem;
  font-size: 1.3rem;
  outline: none;
  border: 1px solid #333533;
  border-radius: 0.7rem;
  cursor: pointer;
}

input {
  padding: 1rem 2rem;
  border-radius: 0.7rem;
  border: 1px solid #333533;
  outline: none;
  font-size: 1.1rem;
  margin-top: 1rem;
}

h1 {
  margin: 2rem 0rem;
}

#output {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  margin: 0.5rem 1rem;
}

/* Utilities */

.flex-row-center {
  display: flex;
  justify-content: center;
}
